@charset "UTF-8";
.main .main-right .right-top::after, .main .main-right .right-top .iconTitle::after, .index_item::after { clear: both; content: ''; display: block; visibility: hidden; height: 0; }

.leftAlign.margin40, .imgBox, ol li, .table_box .table_td, .table_box .table_td2, #replace, .leftUl ul li a, .main .main-right .right-top .iconTitle div, .backBtn, .main .main-right .right-top .iconTitle h1, .main .main-right .right-context, .main .main-right .right-context h2, th, td, select.soflow-color, .mobile_list, .list_box, .index_title { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { margin: 0; padding: 0; background-color: #eeeae2; text-align: center; font-family: "微软雅黑", "微軟正黑體"; height: 100%; width: 100%; overflow-y: hidden; position: fixed; }

h2 { margin: 0px 0; font-size: 20px; font-weight: bold; color: #51463d; }
@media (max-width: 980px) { h2 { font-size: 18px; } }

h1 { color: #51463d; }

p { margin: 0; padding: 0; font-size: 1em; color: #686053; }
@media (max-width: 980px) { p { font-size: 14px; line-height: 1.5em; } }

a { text-decoration: none; }

.main { margin: 0 auto; width: 100%; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.main.disable { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.btn { border: none; border-radius: 28px; color: #fff; text-decoration: none; cursor: pointer; }

.leftAlign { text-align: left; }
.leftAlign img { max-width: 100%; height: auto; }
.leftAlign.pelu4, .leftAlign.pelu8, .leftAlign.pelu { text-align: center; }
.leftAlign.margin40 { padding-left: 30px; }
@media (max-width: 980px) { .leftAlign.margin40 { padding-left: 15px; } }
.leftAlign.noBottom { margin-bottom: 0px; }

.imgBox { width: 100%; border: 1px solid #987c67; background-color: #e8ded7; padding: 10px 2%; text-align: center; }
.imgBox p { text-align: center; margin-bottom: 10px; width: 100%; }
.imgBox img { max-width: 90%; padding-bottom: 0px; vertical-align: middle; }

ol { counter-reset: item; margin: 0; padding-left: 0; }
ol li { display: block; line-height: 26px; color: #686053; margin-bottom: 0.5em; position: relative; padding-left: 15px; }
@media (max-width: 980px) { ol li { font-size: 14px; line-height: 18px; padding-left: 15px; } }
ol li.num1:before { content: "1"; }
ol li.num2:before { content: "2"; }
ol li.num3:before { content: "3"; }
ol li.num4:before { content: "4"; }
ol li.num5:before { content: "5"; }
ol li.num6:before { content: "6"; }
ol li:before { display: inline-block; position: absolute; left: -10px; content: counter(item) ""; counter-increment: item; background: #51463d; color: #eeeae2; display: inline-block; border-radius: 50%; line-height: 18px; margin: 5px 5px; font-size: 12px; font-weight: bold; padding: 0 5px; }
@media (max-width: 980px) { ol li:before { padding: 0 5px; margin: 0px 2px; } }

.table_box { display: table; border-collapse: collapse; border-spacing: 2px; width: 100%; counter-reset: item; }
@media (max-width: 980px) { .table_box { display: block; } }
.table_box .table_tr { display: table-row; }
@media (max-width: 980px) { .table_box .table_tr { display: block; margin-bottom: 0px; } }
.table_box .table_td { display: table-cell; background-color: #e8ded7; border: 1px solid #8b674b; position: relative; margin-bottom: -1px; line-height: 24px; padding: 10px 10px 10px 30px; }
.table_box .table_td:before { display: inline-block; position: absolute; left: 0px; content: counter(item) ""; counter-increment: item; background: #51463d; color: #eeeae2; display: inline-block; border-radius: 50%; line-height: 18px; margin: 5px 5px; font-size: 12px; font-weight: bold; padding: 0 5px; }
@media (max-width: 980px) { .table_box .table_td:before { padding: 0 5px; margin: 3px 5px; } }
@media (max-width: 980px) { .table_box .table_td { display: block; margin-bottom: -1px; padding: 10px 10px 10px 30px; line-height: 18px; } }
.table_box .table_td p { margin-bottom: 15px; }
.table_box .table_td2 { display: table-cell; border: 1px solid #8b674b; background-color: #e8ded7; line-height: 24px; padding: 10px 10px 10px 10px; }
@media (max-width: 980px) { .table_box .table_td2 { display: block; margin-bottom: -1px; padding: 10px 10px 10px 30px; line-height: 18px; } }
.table_box .table_td2 p { margin-bottom: 15px; }
.table_box .table_td2 h3 { margin: 5px 0; font-size: 20px; font-weight: bold; text-align: center; color: #51463d; }
.table_box .table_tbody { display: table-row-group; }
@media (max-width: 980px) { .table_box .table_tbody { display: block; margin-bottom: 0px; } }

ul.noCircle { margin: 0; margin-left: 1.2em; padding-left: 0; list-style-type: decimal; list-style-position: outside; color: #686053; }
ul.noCircle li { color: #686053; }
@media (max-width: 980px) { ul.noCircle li { font-size: 14px; line-height: 1.5em; } }

ul.Circle { margin: 0; margin-left: 1.2em; padding-left: 0; list-style-type: disc; list-style-position: outside; color: #686053; }
ul.Circle li { color: #686053; }
@media (max-width: 980px) { ul.Circle li { font-size: 14px; line-height: 1.5em; } }

#replace { overflow-y: auto; overflow-x: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-overflow-scrolling: touch; }
#replace.disable { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.block { color: #a94646; }

.blueBlock { color: #1268c9; }

.redBlock { color: #e60012; }

.main_title { width: 100%; height: 45px; position: fixed; background-color: #1b1815; z-index: 100; top: 0px; }
@media (max-width: 980px) { .main_title { position: fixed; } }
.main_title.mode .logo { display: none; }
.main_title.mode .select_leng { display: none; }
.main_title.mode .title { display: block; }
.main_title .title { color: #fff; font-size: 16px; display: none; line-height: 45px; }
.main_title .logo { position: absolute; width: 185px; display: block; left: 10px; top: 8px; }
@media (max-width: 980px) { .main_title .logo { width: 135px; top: 12px; left: 5px; } }
.main_title .logo img { width: 100%; height: auto; }

/*左*/
.main .main-left { width: 220px; float: left; background-color: #745741; position: fixed; top: 45px; height: 100%; }
@media (max-width: 980px) { .main .main-left { z-index: 150; width: 100%; top: 0px; height: 0; background-color: transparent; }
  .main .main-left.active { height: 100%; }
  .main .main-left.active .background { display: block; } }
.main .main-left .background { background-image: url("../images/background02-89efe6786a.png"); width: 100%; height: 100%; position: absolute; display: none; }

.leftUl { width: 100%; }
@media (max-width: 980px) { .leftUl { width: 210px; height: 100%; background-color: #eeeae2; position: absolute; right: 0; top: 0; } }

.leftUl ul { list-style: none; padding: 0; margin: 0; }
@media (max-width: 980px) { .leftUl ul { position: absolute; top: 0; bottom: 0; overflow-y: auto; -webkit-overflow-scrolling: touch; } }
.leftUl ul li { height: 45px; width: 100%; overflow-x: hidden; display: table; vertical-align: middle; *position: relative; *top: 50%; }
.leftUl ul li.mobile_show { display: none; }
@media (max-width: 980px) { .leftUl ul li { height: 45px; }
  .leftUl ul li.mobile_hide { display: none; }
  .leftUl ul li.mobile_show { display: table; } }
.leftUl ul li a { text-align: left; background-repeat: no-repeat; background-position: right 14px top 8px; background-size: auto 60%; width: 100%; display: table-cell; vertical-align: middle; *position: absolute; *top: 50%; padding: 0px 15px; color: #cdb68f; border-bottom: 1px solid #8a6f5c; cursor: pointer; padding: 0px 15px 0px 50px; background-repeat: no-repeat; background-size: auto; background-position: 5px center; }
.leftUl ul li a.logo { padding: 0px 15px; display: none; }
.leftUl ul li a.logo img { width: 100%; height: auto; }
@media (max-width: 980px) { .leftUl ul li a.logo { display: table-cell; vertical-align: middle; } }
.leftUl ul li a#bac01 { background-image: url(../images/icon-01a-6b459af59b.png); }
@media (max-width: 980px) { .leftUl ul li a#bac01 { display: none; } }
.leftUl ul li a#dragon { background-image: url(../images/icon-07a-8db70cd709.png); }
.leftUl ul li a#sic { background-image: url(../images/icon-08a-4830a3d387.png); }
.leftUl ul li a#rou { background-image: url(../images/icon-09a-f31e5e8dc7.png); }
.leftUl ul li a#bull { background-image: url(../images/icon-10a-747de8aa27.png); }
.leftUl ul li a#win3 { background-image: url(../images/icon-11a-b5a864cff1.png); }
.leftUl ul li a#war { background-image: url(../images/icon-12a-7059ef13a1.png); }
.leftUl ul li a#rb { background-image: url(../images/icon-13a-b9f4f92ada.png); }
.leftUl ul li a#spdsic { background-image: url(../images/icon-14a-9164d43835.png); }
.leftUl ul li a#bac02 { background-image: url(../images/icon-02a-1081bfef14.png); }
.leftUl ul li a#bac03 { background-image: url(../images/icon-03a-387fbc320d.png); }
.leftUl ul li a#bac04 { background-image: url(../images/icon-04a-8bb9a83b35.png); }
.leftUl ul li a#bac05 { background-image: url(../images/icon-05a-95e034ac9d.png); }
.leftUl ul li a#bac06 { background-image: url(../images/icon-06a-e5aaeff7e7.png); }
@media (max-width: 980px) { .leftUl ul li a { color: #797067; border-bottom: transparent; font-size: 14px; }
  .leftUl ul li a#bac01 { background-image: url(../images/icon-01c-09c421775b.png); }
  .leftUl ul li a#dragon { background-image: url(../images/icon-07b-bbd1eefe11.png); }
  .leftUl ul li a#sic { background-image: url(../images/icon-08b-cd9ec1eda1.png); }
  .leftUl ul li a#rou { background-image: url(../images/icon-09b-0a7351e614.png); }
  .leftUl ul li a#bull { background-image: url(../images/icon-10b-6eb643abbe.png); }
  .leftUl ul li a#win3 { background-image: url(../images/icon-11b-aa25f4a619.png); }
  .leftUl ul li a#war { background-image: url(../images/icon-12b-ff9ac66b3f.png); }
  .leftUl ul li a#spdsic { background-image: url(../images/icon-14b-7c76a94bde.png); }
  .leftUl ul li a#rb { background-image: url(../images/icon-13b-2bf9961d35.png); }
  .leftUl ul li a#bac02 { background-image: url(../images/icon-02b-3f2f96f9a4.png); }
  .leftUl ul li a#bac03 { background-image: url(../images/icon-03b-4321597103.png); }
  .leftUl ul li a#bac04 { background-image: url(../images/icon-04b-1d9f14e4eb.png); }
  .leftUl ul li a#bac05 { background-image: url(../images/icon-05b-e9980ae0b7.png); }
  .leftUl ul li a#bac06 { background-image: url(../images/icon-06b-8fbae08d0b.png); border-bottom: 1px solid #797067; }
  .leftUl ul li a.logo { border-bottom: 1px solid #797067; } }
.leftUl ul li.mid a { padding: 0px 15px 0px 70px; background-repeat: no-repeat; background-size: auto; background-position: 25px center; text-align: left; }
@media (max-width: 980px) { .leftUl ul li.mid a { padding: 0px 15px 0px 50px; background-position: 10px center; } }
.leftUl ul .ios { height: 45px; display: none; }
@media (max-width: 980px) { .leftUl ul .ios { display: block; } }

.leftUl ul li.selected a { background-color: #4c3a2d; color: #fff; }
.leftUl ul li.selected a#bac01 { background-image: url(../images/icon-01c-09c421775b.png); }
.leftUl ul li.selected a#dragon { background-image: url(../images/icon-07c-9c406521d6.png); }
.leftUl ul li.selected a#sic { background-image: url(../images/icon-08c-0afe8eb74e.png); }
.leftUl ul li.selected a#rou { background-image: url(../images/icon-09c-eae287ce52.png); }
.leftUl ul li.selected a#bull { background-image: url(../images/icon-10c-b57e25b2d3.png); }
.leftUl ul li.selected a#win3 { background-image: url(../images/icon-11c-4785b0f919.png); }
.leftUl ul li.selected a#war { background-image: url(../images/icon-12c-5b2077b277.png); }
.leftUl ul li.selected a#rb { background-image: url(../images/icon-13c-30385ce676.png); }
.leftUl ul li.selected a#spdsic { background-image: url(../images/icon-14c-84f9500320.png); }
.leftUl ul li.selected a#bac02 { background-image: url(../images/icon-02c-33ca18368b.png); }
.leftUl ul li.selected a#bac03 { background-image: url(../images/icon-03c-91d46f64a0.png); }
.leftUl ul li.selected a#bac04 { background-image: url(../images/icon-04c-923bd0aa89.png); }
.leftUl ul li.selected a#bac05 { background-image: url(../images/icon-05c-6f7d000515.png); }
.leftUl ul li.selected a#bac06 { background-image: url(../images/icon-06c-6e1ed389fa.png); }
@media (max-width: 980px) { .leftUl ul li.selected a { color: #797067; border-bottom: transparent; background-color: transparent; }
  .leftUl ul li.selected a#bac01 { background-image: url(../images/icon-01c-09c421775b.png); }
  .leftUl ul li.selected a#dragon { background-image: url(../images/icon-07b-bbd1eefe11.png); }
  .leftUl ul li.selected a#sic { background-image: url(../images/icon-08b-cd9ec1eda1.png); }
  .leftUl ul li.selected a#rou { background-image: url(../images/icon-09b-0a7351e614.png); }
  .leftUl ul li.selected a#bull { background-image: url(../images/icon-10b-6eb643abbe.png); }
  .leftUl ul li.selected a#win3 { background-image: url(../images/icon-11b-aa25f4a619.png); }
  .leftUl ul li.selected a#war { background-image: url(../images/icon-12b-ff9ac66b3f.png); }
  .leftUl ul li.selected a#rb { background-image: url(../images/icon-13b-2bf9961d35.png); }
  .leftUl ul li.selected a#spdsic { background-image: url(../images/icon-14b-7c76a94bde.png); }
  .leftUl ul li.selected a#bac02 { background-image: url(../images/icon-02b-3f2f96f9a4.png); }
  .leftUl ul li.selected a#bac03 { background-image: url(../images/icon-03b-4321597103.png); }
  .leftUl ul li.selected a#bac04 { background-image: url(../images/icon-04b-1d9f14e4eb.png); }
  .leftUl ul li.selected a#bac05 { background-image: url(../images/icon-05b-e9980ae0b7.png); }
  .leftUl ul li.selected a#bac06 { background-image: url(../images/icon-06b-8fbae08d0b.png); } }

.hit { background-color: #9f5d27; }

/*內頁右*/
.main .main-right { background-color: #eeeae2; margin-left: 220px; height: 100%; margin-top: 45px; }
@media (max-width: 980px) { .main .main-right { margin-left: 0px; width: 100%; margin-top: 45px; } }
.main .main-right.mode { padding-top: 0px; margin-top: 0px; }
@media (max-width: 980px) { .main .main-right.mode { margin-top: 0px; } }

.main .main-right .right-top { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 98%; margin: 0 auto; padding-bottom: 10px; position: relative; }
@media (max-width: 980px) { .main .main-right .right-top { width: 100%; } }

.main .main-right .right-top .iconTitle { margin: 0 auto; text-align: left; width: auto; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #c6bdbd; padding: 10px 0px; }
@media (max-width: 980px) { .main .main-right .right-top .iconTitle { width: 100%; } }
.main .main-right .right-top .iconTitle div { width: 100%; height: auto; padding-left: 10px; }

.backBtn { display: block; position: absolute; background-image: url(../images/icon-back-b2a90c4967.png); background-repeat: no-repeat; background-position: right center; height: 16px; font-size: 14px; font-weight: bold; text-align: right; color: #51463d; padding-right: 25px; right: 0px; cursor: pointer; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.backBtn:hover { background-image: url(../images/icon-back_hover-d70e4c4cbc.png); color: #a94646; }
@media (max-width: 980px) { .backBtn { right: 5px; } }

.main .main-right .right-top .iconTitle h1 { margin: 0; padding: 0; font-weight: 900; font-size: 28px; width: 100%; padding-right: 58px; }
@media (max-width: 980px) { .main .main-right .right-top .iconTitle h1 { font-size: 22px; padding-right: 63px; } }

.main .main-right .right-top .iconTitle p { padding: 0; font-weight: bold; font-size: 28px; }
@media (max-width: 980px) { .main .main-right .right-top .iconTitle p { font-size: 18px; } }

.main .main-right .right-top .iconTitle img { float: left; width: 50px; }
@media (max-width: 980px) { .main .main-right .right-top .iconTitle img { width: 40px; } }

.main .main-right .right-top .rightbtn { float: right; margin-top: 10px; margin-right: 2%; background: #404040; background-image: url(../images/icon2-84b0c37289.png); background-repeat: no-repeat; background-position: left 14px top 6px; background-size: auto 60%; font-size: 0.9em; padding-left: 30px; width: 150px; height: 35px; }

.main .main-right .right-context { padding: 10px 40px 20px 40px; background-color: #eeeae2; text-align: left; font-size: 1em; border-bottom: 1px solid #c6bdbd; line-height: 2em; }
@media (max-width: 980px) { .main .main-right .right-context { padding: 0px 20px 20px 20px; line-height: 1.5em; } }
.main .main-right .right-context h2 { position: relative; }
.main .main-right .right-context h2::before { content: "◆"; position: absolute; margin-right: 3px; font-size: 28px; vertical-align: middle; left: -26px; margin-top: 2px; }
@media (max-width: 980px) { .main .main-right .right-context h2::before { margin-right: 3px; font-size: 16px; left: -19px; } }
.main .main-right .right-context img { max-width: 100%; height: auto; vertical-align: middle; }

.right-context div { margin-bottom: 15px; word-wrap: break-word; }
.right-context div .noBottom { margin-bottom: 0px; }

.right-context p { width: 100%; }

/*表格*/
table { max-width: 100%; overflow-y: auto; _overflow: auto; border-collapse: collapse; word-wrap: break-word; border-spacing: 2px; }

.width12 { width: 14%; }

.width18 { width: 18%; }

.width20 { width: 20%; }

.width10 { width: 10%; }

.width25 { width: 25%; }

.width30 { width: 30%; }

.width35 { width: 35%; }

.width40 { width: 40%; }

.width45 { width: 45%; }
@media (max-width: 980px) { .width45 { width: 100%; } }

.width50 { width: 50%; }
@media (max-width: 980px) { .width50 { width: 100%; } }

.width80 { width: 80%; }
@media (max-width: 980px) { .width80 { width: 100%; } }

.width83 { width: 84%; }
@media (max-width: 980px) { .width83 { width: 100%; } }

.width90 { width: 90%; }
@media (max-width: 980px) { .width90 { width: 100%; } }

.width100 { width: 100%; }

.align-center { display: inline-block; margin: 0; }

th, td { text-align: center; border: 1px solid #8b674b; padding: 10px 5px; font-size: 14px; color: #686053; line-height: 15px; }
th img, td img { margin-right: 3px; }

tr:nth-child(even) { background-color: #e8ded7; }

tr:nth-child(odd) { background-color: #eeeae2; }

tr:first-child { background-color: #8b674b; color: #fff; }
tr:first-child th, tr:first-child td { border: 1px solid #987c67; color: #fff; }

tr.tdCenter th { text-align: center; }

.both { clear: both; }

.testCenter { text-align: center; }

.testLeft { text-align: left; }

div.LeftText { margin: 0 auto; text-align: left; }

/*詳解*/
.floatLeft { float: left; width: 50%; }
@media (max-width: 600px) { .floatLeft { width: 100%; float: none; } }

.floatright { float: right; width: 49%; }
@media (max-width: 600px) { .floatright { width: 100%; float: none; } }

/*最下*/
.Copyright { color: #666; padding: 10px 0px; height: 52px; margin-left: 0px; font-size: 12px; }

/*首頁右*/
.main-right .HameWarp { width: 100%; height: 270px; background-color: #210b01; position: relative; cursor: pointer; }

.main-right .HameWarp .HameMask { width: 100%; height: 100%; position: relative; }

.main-right .HameWarp:hover .HameMask { background-color: rgba(159, 93, 39, 0.8); }

.main-right .HameWarp h1 { margin: 0; padding: 0; color: #fff; font-weight: 900; /*font-size: 3em;*/ font-size: 6vh; }

.main-right .HameWarp button { background: transparent; border: 2px solid #fff; margin-top: 3%; padding: 4px 0; /*width: 120px;*/ width: 80%; /*font-size: 2vh;*/ /*height: 20%;*/ }

.main-right .HameWarp button p { font-size: 2vh; }

.main-right .HameWarp img { position: absolute; margin: auto 0; top: 0; bottom: 0; left: 10%; height: 70%; }

.main-right .HameWarp .HameMask .HameArrow { position: absolute; left: auto; right: 0; height: 90%; -webkit-animation: ArrowMove .5s ease-in infinite alternate; animation: ArrowMove .5s ease-in infinite alternate; display: none; }

.main-right .HameWarp:hover .HameMask .HameArrow { display: block; }

.main-right .HameWarp .HameTextWarp { position: absolute; width: 200px; top: 30%; left: 30%; height: 46%; margin: auto; top: -5%; bottom: 0; }

.BacarratImg { background-image: url(../images/Bacarrat_HameBG.jpg); }

.DragonTigerImg { background-image: url(../images/DragonTiger_HameBG.jpg); }

.RoultteImg { background-image: url(../images/Roultte_HameBG.jpg); }

.SicboImg { background-image: url(../images/Sicbo_HameBG.jpg); }

.HameButtonBG { background-repeat: no-repeat; background-position: right; background-size: auto 100%; }

@media screen and (max-width: 1280px) { .Img100 { width: 100%; } }
@media screen and (max-height: 417px) { .main-right .HameWarp h1 { font-size: 22px; } }
button:focus, select:focus { outline: none; border: 0; }

button::-moz-focus-inner, select::-moz-focus-inner { border: 0; }

.select_leng { width: 125px; height: 25px; border-radius: 25px; position: absolute; overflow: hidden; background-image: url(../images/d01-4127030ab0.png); background-position: 98% center; background-repeat: no-repeat; background-color: #403d3d; right: 10px; top: 10px; }
@media (max-width: 980px) { .select_leng { right: 50px; } }
.select_leng label { width: 21px; height: 21px; background-image: url(../images/d01-4127030ab0.png); position: absolute; right: 4px; top: 3px; }

select.soflow-color { -webkit-appearance: button; -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -webkit-padding-end: 20px; -webkit-padding-start: 2px; -webkit-user-select: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; background-position: 3px center; background-repeat: no-repeat; border: 0px solid #fff; width: 100%; height: 25px; line-height: 25px; padding-left: 28px; background-image: url(../images/c01-98092b6d99.png); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #fff; font-size: 14px; }
@media (max-width: 980px) { select.soflow-color { font-size: 12px; } }
select.soflow-color option { background-color: #403d3d; }

.game_list { overflow-x: hidden; }
@media (max-width: 980px) { .game_list { display: none; width: 100%; height: 100%; } }
.game_list ul { width: 100%; }

.mobile_list_btn { display: none; width: 40px; height: 40px; z-index: 101; position: absolute; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; }
.mobile_list_btn span { display: block; position: absolute; height: 2px; width: 60%; background: #ffe3a6; border-radius: 2px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out; }
.mobile_list_btn span:nth-child(1) { top: 12px; }
.mobile_list_btn span:nth-child(2) { top: 18px; }
.mobile_list_btn span:nth-child(3) { top: 24px; }
.mobile_list_btn.open span { background: #ffe3a6; }
.mobile_list_btn.open span:nth-child(1) { top: 18px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
.mobile_list_btn.open span:nth-child(2) { opacity: 0; right: -60px; }
.mobile_list_btn.open span:nth-child(3) { top: 18px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
@media (max-width: 980px) { .mobile_list_btn { display: block; position: absolute; right: 0px; top: 5px; } }

.mobile_list { width: 100%; height: 40px; line-height: 40px; padding: 0px 20px; color: #ffe3a6; position: relative; background-color: #554132; display: none; text-align: left; }
.mobile_list a { color: #ffe3a6; }
@media (max-width: 980px) { .mobile_list { display: block; } }

.main_top { width: 100%; z-index: 100; }
@media (max-width: 980px) { .main_top { position: fixed; } }

.list_box { width: 100%; padding: 0px 10px; }
@media (max-width: 360px) { .list_box { padding: 0px 1%; } }

.index_title { width: 100%; border-bottom: 1px solid #c6bdbd; text-align: left; }
@media (max-width: 980px) { .index_title { text-align: center; } }
.index_title h1 { display: inline-block; line-height: 22px; font-size: 14px; font-weight: normal; color: #8f8282; }
@media (max-width: 980px) { .index_title h1 { width: 100%; margin: 10px 0px 5px 0px; line-height: 32px; } }
.index_title span { margin-left: 10px; color: #8f8282; font-size: 14px; }
@media (max-width: 560px) { .index_title span { width: 100%; margin-left: 0px; } }

.index_item { padding: 20px 0px; border-bottom: 1px solid #c6bdbd; text-align: center; }
.index_item a { display: block; width: 200px; height: auto; overflow: hidden; float: left; margin: 1%; position: relative; }
.index_item a:hover { cursor: pointer; }
.index_item a:hover .name_box { height: 60px; }
@media (max-width: 980px) { .index_item a { width: 170px; display: inline-block; float: none; } }
@media (max-width: 360px) { .index_item a { margin: 20px 0px; } }
.index_item a img { width: 100%; height: auto; }
.index_item a .name_box { width: 100%; height: 36px; background-image: url(../images/d02-225a2241a5.png); background-repeat: repeat; line-height: 36px; text-align: center; position: absolute; bottom: 0px; color: #fff; font-size: 14px; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
@media (max-width: 980px) { .index_item a .name_box { font-size: 12px; } }
