@charset "UTF-8";
/* Welcome to Compass.
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
#helpclose_box, #help_frame {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#top_box1 {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background: #000000;
	z-index: 9999;
}


#progressOutBox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#imgAd {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#progressOut {
	width: 80%;
	height: 40px;
	bottom: 40px;
	border-radius: 10px;
	background-color: #303575;
	position: absolute;
	margin-top: 0px;
	left: 10%;
	overflow: hidden;
	border: 2px solid #f0cf76;
	background: #252151;
	background: -webkit-linear-gradient(top,hsla(0,0%,100%,.5) 0,hsla(0,0%,100%,0) 50%,hsla(0,0%,100%,0) 100%);
	background: -webkit-gradient(linear,left top, left bottom,color-stop(0, hsla(0,0%,100%,.5)),color-stop(50%, hsla(0,0%,100%,0)),to(hsla(0,0%,100%,0)));
	background: linear-gradient(to bottom,hsla(0,0%,100%,.5) 0,hsla(0,0%,100%,0) 50%,hsla(0,0%,100%,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0)
}

#progressBar {
	position: absolute;
	width: 0;
	height: 100%;
	background: #fcd76b;
	background: -webkit-linear-gradient(top,#fcd76b 0,#faa205 49%,#fe8524 50%,#faa205 100%);
	background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #fcd76b),color-stop(49%, #faa205),color-stop(50%, #fe8524),to(#faa205));
	background: linear-gradient(to bottom,#fcd76b 0,#faa205 49%,#fe8524 50%,#faa205 100%)
}

#loadingTip {
	position: absolute;
	width: 100%;
	color: #fff;
	text-align: center;
}

#browserTip {
	position: absolute;
	width: 100%;
	bottom: 3px;
	color: #fff;
	text-align: center;
	background-color:  rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}


#bottomBar {
	position: absolute;
	bottom: 0px;
	transform-origin: 0% 0% 0px;
	-webkit-transform-origin: 0% 0% 0px;
}

#videocontainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 400;
}

#videoBG {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#intro-video {
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#help_div {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}


#helpclose_box {
	width: auto;
	height: 40px;
	position: absolute;
	padding: 0px 20px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

#help_close_lb {
	display: inline-block;
	margin: 0px 10px;
	font-size: 20px;
	line-height: 40px;
	color: #d2b886;
}

#help_close {
	vertical-align: middle;
}

#help_frame {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	
	overflow: hidden
}

#help_frame.android {
	height: 100%;
}

#help_frame.ios {
}

#fullscreen {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;
	z-index: 12000;
	background-color: rgba(0, 0, 0, 1);
	background-size: 100% auto;
}

#fullscreenImg {
	position: fixed;
	left: 50%;
	height: auto;	
	z-index: 15000;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#fullScreenClose {
	position: fixed;
	width: auto;
	height: auto;
	top: 0px;
	right: 0px;
	z-index: 15000;
}